{% extends "@KilikTable/theme/dark4/tables/alternative.html.twig" %}

{% block tableHeadStdColumns %}
    <td class="list-first-column-3">
        <b>{{ "word.actions" | trans | capitalize }}</b>
    </td>
    {{ parent() }}
{% endblock tableHeadStdColumns %}

{% block tableHeadStdFilters %}
    <td>
        &nbsp;
    </td>
    {{ parent() }}
{% endblock tableHeadStdFilters %}

{% block tableBodyStdColumns %}
    <td>
        <a href="{{ path("cluster_view", {"cluster": row.object.name }) }}" class="btn btn-sm btn-outline btn-info">
            <i class="fa fa-eye"></i>
        </a>
        <a href="{{ path("cluster_edit", {"cluster": row.object.name }) }}" class="btn btn-sm btn-outline btn-info">
            <i class="fa fa-edit"></i>
        </a>
        <a href="{{ path("cluster_delete", {"cluster": row.object.name}) }}"
           id="btn-delete" class="openRemoteModal btn btn-sm btn-outline btn-danger">
            <i class="fa fa-trash"></i>
        </a>
    </td>
    {{ parent() }}
{% endblock tableBodyStdColumns %}
