{% if slaveStatuses is not empty %}
    <ul>
        {% for slave in slaveStatuses %}
            <div class="card border-left-primary mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        <i class="fa fa-exchange-alt"></i>
                        {{ 'field.channel.label' | trans | capitalize }} {{ slave.channelName }}
                    </h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div>Master : {{ slave.masterHost }}</div>
                            <div>Slave IO Running : {% if slave.slaveIoRunning %}<i class="fa fa-check text-success"></i>{% else %}<i class="fa fa-times text-danger"></i>{% endif %}</div>
                            <div>Slave SQL Running : {% if slave.slaveSqlRunning %}<i class="fa fa-check text-success"></i>{% else %}<i class="fa fa-times text-danger">{% endif %}</i></div>
                            <div>Slave IO State : {% if slave.slaveIoState is not empty %}{{ slave.slaveIoState }}{% else %}-{% endif %}</div>
                            <div>Master Log File : {% if slave.masterLogFile is not empty %}{{ slave.masterLogFile }}{% else %}-{% endif %}</div>
                            <div>Master Log Pos : {% if slave.readMasterLogPos is not empty %}{{ slave.readMasterLogPos }}{% else %}-{% endif %}</div>
                            <div>Seconds Behind Master : {% if slave.secondsBehindMaster is not empty %}{{ slave.secondsBehindMaster }} {% if slave.secondsBehindMaster > 0 %}({{ slave.secondsBehindMaster | format_duration }}){% endif %}{% else %}-{% endif %}</div>
                        </div>
                        <div class="col-md-4">
                            {% if slave.slaveIoRunning and slave.slaveSqlRunning %}
                                <a href="javascript:stopSlaveForChannel({{ slave.channelName }})" class="btn btn-info btn-circle" title="Stop all threads for this channel">
                                    <i class="fa fa-pause"></i>
                                </a>
                            {% else %}
                                <a href="javascript:startSlaveForChannel({{ slave.channelName }})" class="btn btn-info btn-circle" title="Start all threads for this channel">
                                    <i class="fa fa-play"></i>
                                </a>
                            {% endif %}
                            {% if slave.slaveIoRunning %}
                                <a href="javascript:stopSlaveForChannel({{ slave.channelName }}, 'IO_THREAD')" class="btn btn-success btn-circle" title="Stop I/O thread for this channel">
                                    <div data-thread="I/O" class="font-weight-bold small">I/O</div>
                                </a>
                            {% else %}
                                <a href="javascript:startSlaveForChannel({{ slave.channelName }}, 'IO_THREAD')" class="btn btn-danger btn-circle" title="Start I/O thread for this channel">
                                    <div class="font-weight-bold small">I/O</div>
                                </a>
                            {% endif %}
                            {% if slave.slaveSqlRunning %}
                                <a href="javascript:stopSlaveForChannel({{ slave.channelName }}, 'SQL_THREAD')" class="btn btn-success btn-circle" title="Stop SQL thread for this channel">
                                    <div class="font-weight-bold small">SQL</div>
                                </a>
                            {% else %}
                                <a href="javascript:startSlaveForChannel({{ slave.channelName }}, 'SQL_THREAD')" class="btn btn-danger btn-circle" title="Start SQL thread for this channel">
                                    <div class="font-weight-bold small">SQL</div>
                                </a>
                            {% endif %}
                            <a href="#" class="btn btn-info btn-circle" data-toggle="modal" data-target="#slave-status-modal-{{ slave.channelName }}" title="Display complete slave status">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="#" class="btn btn-primary btn-circle" data-toggle="modal" data-target="#skip-transaction-modal-{{ slave.channelName }}" title="Skip transaction">
                                <i class="fas fa-step-forward"></i>
                            </a>
                            <a href="#" class="btn btn-primary btn-circle" data-toggle="modal" data-target="#switch-next-master-log-file-modal-{{ slave.channelName }}" title="Switch to next file">
                                <i class="fas fa-fast-forward"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="slave-status-modal-{{ slave.channelName }}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ 'field.channel.label' | trans | capitalize }} {{ slave.channelName }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div><span class="text-gray-800">Master</span> : {{ slave.masterHost }}</div>
                            <div><span class="text-gray-800">Slave IO Running</span> : {% if slave.slaveIoRunning %}Yes <i class="fa fa-check text-success"></i>{% else %}No <i class="fa fa-times text-danger"></i>{% endif %}</div>
                            <div><span class="text-gray-800">Slave SQL Running</span> : {% if slave.slaveSqlRunning %}Yes <i class="fa fa-check text-success"></i>{% else %}No <i class="fa fa-times text-danger"></i>{% endif %}</div>
                            <div><span class="text-gray-800">Slave IO State</span> : {% if slave.slaveIoState is not empty %}{{ slave.slaveIoState }}{% else %}-{% endif %}</div>
                            <div><span class="text-gray-800">Master Log File</span> : {% if slave.masterLogFile is not empty %}{{ slave.masterLogFile }}{% else %}-{% endif %}</div>
                            <div><span class="text-gray-800">Master Log Pos</span> : {% if slave.readMasterLogPos is not empty %}{{ slave.readMasterLogPos }}{% else %}-{% endif %}</div>
                            <div><span class="text-gray-800">Relay Log File</span> : {% if slave.relayLogFile is not empty %}{{ slave.relayLogFile }}{% else %}-{% endif %}</div>
                            <div><span class="text-gray-800">Relay Log Pos</span> : {% if slave.relayLogPos is not empty %}{{ slave.relayLogPos }}{% else %}-{% endif %}</div>
                            <div><span class="text-gray-800">Last IO Errno</span> : {% if slave.lastIOErrno is not empty %}{{ slave.lastIOErrno }}{% else %}-{% endif %}</div>
                            <div><span class="text-gray-800">Last IO Error</span> : {% if slave.lastIOError is not empty %}{{ slave.lastIOError }}{% else %}-{% endif %}</div>
                            <div><span class="text-gray-800">Last SQL Errno</span> : {% if slave.lastSQLErrno is not empty %}{{ slave.lastSQLErrno }}{% else %}-{% endif %}</div>
                            <div><span class="text-gray-800">Last SQL Error</span> : {% if slave.lastSQLError is not empty %}{{ slave.lastSQLError }}{% else %}-{% endif %}</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="copyChannelStatusToClipboard({{ slave.channelName }})" class="btn btn-outline btn-info btn-copy" id="btn-copy-slave-{{ slave.channelName }}" data-slave-channel="{{ slave.channelName }}">
                                <i class="fa fa-copy"></i> {{ "action.copy" | trans | capitalize }}
                            </button>
                            <button class="btn btn-outline btn-warning" type="button" data-dismiss="modal">{{ 'action.close' | trans | capitalize }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="switch-next-master-log-file-modal-{{ slave.channelName }}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">La requête suivante va être executée</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% set next = (slave.masterLogFile | replace({'mysql-bin.': ""}) + 1) | format_number({min_integer_digit:'6', grouping_used:''}) %}
                            {% set nextMasterLogFile = 'mysql-bin.'~next %}
{{ "STOP SLAVE FOR CHANNEL '#{ slave.channelName }';" | highlight_sql | raw }}
{{ "CHANGE MASTER TO MASTER_LOG_FILE='#{ nextMasterLogFile }', MASTER_LOG_POS=0 FOR CHANNEL '#{ slave.channelName }';" | highlight_sql | raw }}
{{ "START SLAVE FOR CHANNEL '#{ slave.channelName }';" | highlight_sql | raw }}
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-outline btn-warning" type="button" data-dismiss="modal">{{ 'action.close' | trans | capitalize }}</button>
                            <button type="button" onclick="switchNextMasterLogFile({{ slave.channelName }}, '{{ nextMasterLogFile }}')" class="btn btn-outline btn-success btn-switch-next-master-log-file" data-loading-text="LOADING..." id="btn-switch-next-master-log-file-{{ slave.channelName }}">
                                <i class="fa fa-check"></i> {{ "action.validate" | trans | capitalize }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="skip-transaction-modal-{{ slave.channelName }}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">La requête suivante va être executée</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
{{ "STOP SLAVE FOR CHANNEL '#{ slave.channelName }';" | highlight_sql | raw }}
{{ "SELECT @gtid := (SELECT LAST_SEEN_TRANSACTION FROM performance_schema.replication_applier_status_by_worker WHERE CHANNEL_NAME='#{ slave.channelName }');" | format_sql | raw }}
{{ "SET @@SESSION.GTID_NEXT=@gtid;" | highlight_sql | raw }}
{{ "BEGIN;
COMMIT;" | highlight_sql | raw }}
{{ "SET @@SESSION.GTID_NEXT='AUTOMATIC';" | highlight_sql | raw }}
{{ "START SLAVE FOR CHANNEL '#{ slave.channelName }';" | highlight_sql | raw }}
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-outline btn-warning" type="button" data-dismiss="modal">{{ 'action.close' | trans | capitalize }}</button>
                            <button type="button" onclick="skipTransaction({{ slave.channelName }})" class="btn btn-outline btn-success btn-skip-transaction" data-loading-text="LOADING..." id="btn-skip-transaction-{{ slave.channelName }}">
                                <i class="fa fa-check"></i> {{ "action.validate" | trans | capitalize }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </ul>
{% else %}
    {{ 'word.none' | trans | capitalize }}
{% endif %}