{% extends 'layout.html.twig' %}

{% set section = 'admin' %}
{% set subSection = 'servers' %}

{% block pageContent %}
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{ pageTitle }}</h6>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-4 control-label col-sm-2 control-label">{{ form_label(form.name) }}</label>
                            <div class=" col-sm-9 ">
                                {{ form_widget(form.name) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-4 control-label col-sm-2 control-label">{{ form_label(form.description) }}</label>
                            <div class=" col-sm-9 ">
                                {{ form_widget(form.description) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-4 control-label col-sm-2 control-label">{{ form_label(form.host) }}</label>
                            <div class=" col-sm-9 ">
                                {{ form_widget(form.host) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-4 control-label col-sm-2 control-label">{{ form_label(form.port) }}</label>
                            <div class=" col-sm-9 ">
                                {{ form_widget(form.port) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-4 control-label col-sm-2 control-label">{{ form_label(form.user) }}</label>
                            <div class=" col-sm-9 ">
                                {{ form_widget(form.user) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-4 control-label col-sm-2 control-label">{{ form_label(form.password) }}</label>
                            <div class=" col-sm-9 ">
                                {{ form_widget(form.password) }}
                            </div>
                            <button id="btn-edit-password" type="button" class="btn btn-outline btn-info" data-toggle="modal" data-target="#edit-password-modal">
                                <i class="fa fa-edit"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <a href="{{ path("server_list") }}" class="btn btn-outline btn-warning">
                <i class="fa fa-ban"></i> {{ "action.cancel" | trans | capitalize }}
            </a>
            <button type="submit" class="btn btn-outline btn-info">
                <i class="fa fa-save"></i> {{ "action.save" | trans | capitalize }}
            </button>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="modal fade" id="edit-password-modal" tabindex="-1" role="dialog" aria-labelledby="edit-password-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'action.enterPassword' | trans | capitalize }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class=" col-sm-12">
                                <input type="text" id="edit-password-input" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">{{ 'action.close' | trans | capitalize }}</button>
                    <button id="btn-save-edit-password" class="btn btn-outline btn-info" type="button">
                        <i class="fa fa-check"></i>
                        {{ 'action.confirm' | trans | capitalize }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function() {
        const $editPasswordModal = $('#edit-password-modal');
        $editPasswordModal.on('show.bs.modal', function (e) {
            $('#edit-password-input').val($('#server_password').val());
        });
        $('#btn-save-edit-password').on('click', function () {
            $('#server_password').val($('#edit-password-input').val());
            $editPasswordModal.modal('hide');
        });
    });
</script>
{% endblock javascript %}
