{% extends 'layout.html.twig' %}
{% set section = 'admin' %}
{% set subSection = 'servers' %}

{% block pageContent %}
<div class="row">
    <div class="col-md-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ 'field.server.label' | trans | capitalize }} {{ server.name }}</h6>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4"><b>{{ "field.cluster.label" | trans | capitalize }} :</b></div>
                        {% if server.cluster is not null %}
                            <div class="col-sm-8"><a href="{{ path("cluster_view", {"cluster": server.cluster.name }) }}">{{ server.cluster.name }}</a></div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4"><b>{{ "field.description.label" | trans | capitalize }} :</b></div>
                        {% if server.description is not null %}
                            <div class="col-sm-8">{{ server.description }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4"><b>{{ "field.host.label" | trans | capitalize }} :</b></div>
                        <div class="col-sm-8">{{ server.host }}</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4"><b>{{ "field.port.label" | trans | capitalize }} :</b></div>
                        <div class="col-sm-8">{{ server.port }}</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4"><b>{{ "field.user.label" | trans | capitalize }} :</b></div>
                        {% if server.user is not null %}
                            <div class="col-sm-8">{{ server.user }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4"><b>{{ "field.upSince.label" | trans | capitalize }} :</b></div>
                        <div class="col-sm-8">
                            {% if serverUptime is not null %}
                                {{ serverUptime | date('d/m/Y H:i:s') }}
                            {% else %}
                                -
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4"><b>{{ "field.createdAt.label" | trans | capitalize }} :</b></div>
                        <div class="col-sm-8">{{ server.createdAt | date('d/m/Y H:i:s') }}</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4"><b>{{ "field.updatedAt.label" | trans | capitalize }} :</b></div>
                        {% if server.updatedAt is not null %}
                            <div class="col-sm-8">{{ server.updatedAt | date('d/m/Y H:i:s') }}</div>
                        {% endif %}
                    </div>
                </div>
                <div>
                    <a href="{{ path("server_list") }}" class="btn btn-outline btn-warning">
                        <i class="fa fa-arrow-left"></i> {{ "action.back" | trans | capitalize }}
                    </a>
                    <a href="{{ path("server_edit", {"server": server.name }) }}" class="btn btn-outline btn-info">
                        <i class="fa fa-edit"></i> {{ "action.edit" | trans | capitalize }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-replication shadow mb-4">
            <div class="card-header py-3">
                <div class="row">
                    <div class="col-md-10">
                        <h6 class="m-0 font-weight-bold text-primary">{{ 'field.replication.label' | trans | capitalize }}
                            <div class="replication-container-loader spinner-border spinner-border-sm text-primary" style="display: none;" role="status"></div>
                        </h6>
                    </div>
                    {% if server.channels | length >= 1 %}
                        <div class="col-md-2">
                            <div style="float: right">
                                <a href="javascript:startSlaves()" class="btn btn-sm btn-success btn-circle" title="Start slaves">
                                    <i class="fas fa-play"></i>
                                </a>
                                <a href="javascript:stopSlaves()" class="btn btn-sm btn-danger btn-circle" title="Stop slaves">
                                    <i class="fas fa-pause"></i>
                                </a>
                                <a href="javascript:refreshSlavesStatus()" class="btn btn-sm btn-info btn-circle" title="Refresh slaves status">
                                    <i class="fas fa-sync"></i>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                {% if server.channels | length < 1 %}
                    {{ 'word.none' | trans | capitalize }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-process-list shadow mb-4">
            <div class="card-header py-3">
                <div class="row">
                    <div class="col-md-10">
                        <h6 class="m-0 font-weight-bold text-primary">{{ 'field.processList.label' | trans | capitalize }}
                            <div class="processList-container-loader spinner-border spinner-border-sm text-primary" style="display: none;" role="status"></div>
                        </h6>
                    </div>
                    <div class="col-md-2">
                        <div style="float: right">
                            <a href="javascript:refreshProcessList()" class="btn btn-primary btn-sm" title="Reload process list">
                                <i class="fas fa-sync"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
</div>

<!-- Modal : confirm process kill -->
<div class="modal" id="confirmProcessKill" tabindex="-1" role="dialog" aria-labelledby="confirmProcessKillTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmProcessKillLongTitle">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="modalBody"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'action.cancel' | trans | capitalize }}</button>
                <a id="killProcess" type="button" class="btn btn-danger">{{ 'action.kill' | trans | capitalize }}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{{ parent() }}
{% if server.channels | length >= 1 %}
<script type="text/javascript">
    const $replicationContainer = $('.card-replication');
    const $processListContainer = $('.card-process-list');

    function displayLoader() {
        $replicationContainer.css('pointer-events', 'none');
        $processListContainer.css('pointer-events', 'none');
        $('.replication-container-loader').show();
    }

    function hideLoader() {
        $replicationContainer.css('pointer-events', 'auto');
        $processListContainer.css('pointer-events', 'auto');
        $('.replication-container-loader').hide();
    }

    function refreshSlavesStatus() {
        displayLoader();
        $.ajax({
            type: 'get',
            url: "{{ path("server_slaves_status_ajax", { 'server': server.name }) }}",
            success: function (jsonResponse) {
                $replicationContainer.find('.card-body').html(jsonResponse.html);
                hideLoader();
            },
            error: function () {
                $.notify("{{ 'message.refreshSlavesStatus.error' | trans | capitalize }}", "error");
                hideLoader();
            },
        });
    }

    function startSlaves() {
        displayLoader();
        $.ajax({
            type: 'get',
            url: "{{ path("server_slaves_start_ajax", { 'server': server.name }) }}",
            success: function () {
                refreshSlavesStatus();
                refreshProcessList();
                $.notify("{{ 'message.startSlaves.success' | trans | capitalize }}", "success");
                hideLoader();
            },
            error: function () {
                $.notify("{{ 'message.startSlaves.error' | trans | capitalize }}", "error");
                hideLoader();
            },
        });
    }

    function stopSlaves() {
        displayLoader();
        $.ajax({
            type: 'get',
            url: "{{ path("server_slaves_stop_ajax", { 'server': server.name }) }}",
            success: function () {
                refreshSlavesStatus();
                refreshProcessList();
                $.notify("{{ 'message.stopSlaves.success' | trans | capitalize }}", "success");
                hideLoader();
            },
            error: function () {
                $.notify("{{ 'message.stopSlaves.error' | trans | capitalize }}", "error");
                hideLoader();
            },
        });
    }

    function startSlaveForChannel(channel, thread) {
        displayLoader();
        let url;
        if (undefined === thread) {
            url = "{{ path("server_slave_channel_start_ajax", { 'server': server.name, 'channel': 'channel_name' }) }}";
            url = url.replace("channel_name", channel);
        } else {
            url = "{{ path("server_slave_channel_start_ajax", { 'server': server.name, 'channel': 'channel_name', 'thread': 'thread_name' }) }}";
            url = url.replace("channel_name", channel).replace("thread_name", thread);
        }
        $.ajax({
            type: 'get',
            url: url,
            thread: thread,
            success: function () {
                refreshSlavesStatus();
                refreshProcessList();
                $.notify(("{{ 'message.startSlave.success' | trans | capitalize }}").replace('%thread%', this.thread ? this.thread.split('_')[0] : ''), "success");
                hideLoader();
            },
            error: function () {
                $.notify("{{ 'message.startSlave.error' | trans | capitalize }}".replace('%thread%', this.thread ? this.thread.split('_')[0] : ''), "error");
                hideLoader();
            },
        });
    }

    function stopSlaveForChannel(channel, thread) {
        displayLoader();
        let url;
        if (undefined === thread) {
            url = "{{ path("server_slave_channel_stop_ajax", { 'server': server.name, 'channel': 'channel_name' }) }}";
            url = url.replace("channel_name", channel);
        } else {
            url = "{{ path("server_slave_channel_stop_ajax", { 'server': server.name, 'channel': 'channel_name', 'thread': 'thread_name' }) }}";
            url = url.replace("channel_name", channel).replace("thread_name", thread);
        }
        $.ajax({
            type: 'get',
            url: url,
            thread: thread,
            success: function () {
                refreshSlavesStatus();
                refreshProcessList();
                $.notify(("{{ 'message.stopSlave.success' | trans | capitalize }}").replace('%thread%', this.thread ? this.thread.split('_')[0] : ''), "success");
                hideLoader();
            },
            error: function () {
                $.notify("{{ 'message.stopSlave.error' | trans | capitalize }}".replace('%thread%', this.thread ? this.thread.split('_')[0] : ''), "error");
                hideLoader();
            },
        });
    }

    function switchNextMasterLogFile(channel, nextMasterLogFile) {
        $('#btn-switch-next-master-log-file-' + channel).html('<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>In execution...').attr('disabled', true);

        let url = "{{ path("server_slave_channel_switch_next_master_log_file_ajax", { 'server': server.name, 'channel': 'channel_name' }) }}";
        url = url.replace("channel_name", channel);
        $.ajax({
            type: 'post',
            url: url,
            data: {
                nextMasterLogFile: nextMasterLogFile
            },
            success: function () {
                const $modal = $('#switch-next-master-log-file-modal-' + channel);
                $modal.modal('hide');
                $modal.on('hidden.bs.modal', function () {
                    refreshSlavesStatus();
                    refreshProcessList();
                    $.notify("{{ 'message.switchToNextMasterLogFile.success' | trans | capitalize }}", "success");
                })
            },
            error: function () {
                const $modal = $('#switch-next-master-log-file-modal-' + channel);
                $modal.modal('hide');
                $.notify("{{ 'message.switchToNextMasterLogFile.error' | trans | capitalize }}", "error");
            },
        });
    }

    function skipTransaction(channel) {
        $('#btn-skip-transaction-' + channel).html('<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>In execution...').attr('disabled', true);

        let url = "{{ path("server_slave_channel_skip_transaction_ajax", { 'server': server.name, 'channel': 'channel_name' }) }}";
        url = url.replace("channel_name", channel);
        $.ajax({
            type: 'post',
            url: url,
            success: function (data) {
                const $modal = $('#skip-transaction-modal-' + channel);
                $modal.modal('hide');
                $modal.on('hidden.bs.modal', function () {
                    refreshSlavesStatus();
                    refreshProcessList();
                    $.notify(data.message, "success");
                })
            },
            error: function () {
                const $modal = $('#skip-transaction-modal-' + channel);
                $modal.modal('hide');
                $.notify("{{ 'message.skipTransaction.error' | trans | capitalize }}", "error");
            },
        });
    }

    function copyChannelStatusToClipboard(channel) {
        navigator.clipboard.writeText($('#slave-status-modal-' + channel).find('.modal-body').text());
        $.notify("{{ 'message.copyToClipboard.success' | trans | capitalize }}", "success");
    }

    function refreshProcessList() {
        displayLoader();
        $.ajax({
            type: 'get',
            url: "{{ path("server_processlist_ajax", { 'server': server.name }) }}",
            success: function (jsonResponse) {
                $processListContainer.find('.card-body').html(jsonResponse.html);
                hideLoader();
            },
            error: function () {
                $.notify("{{ 'message.refreshProcessList.error' | trans | capitalize }}", "error");
                hideLoader();
            },
        });
    }

    function killProcess(processId, killOption) {
        displayLoader();
        let url = "{{ path("server_kill_process_ajax", { 'server': server.name, 'processId': 'process_id', 'killOption': 'kill_option' }) }}";
        url = url.replace("process_id", processId).replace("kill_option", killOption);
        $.ajax({
            type: 'get',
            url: url,
            processId: processId,
            success: function () {
                refreshProcessList();
                refreshSlavesStatus();
                $.notify("{{ 'message.killProcess.success' | trans | capitalize }}".replace('%processid%', processId), "success");
                hideLoader();
            },
            error: function () {
                $.notify("{{ 'message.killProcess.error' | trans | capitalize }}".replace('%processid%', processId), "error");
                hideLoader();
            },
        });
    }

    $(document).ready(function () {
        refreshSlavesStatus();
        refreshProcessList();
        $(document).on("click", ".js-kill-process", function (e) {
            e.preventDefault();
            const _self = $(this);
            const $processId = _self.data('id');
            const $killOption = _self.data('kill-option');
            const confirmMessage = "{{ 'message.killProcessConfirmation' | trans | raw }}".replace('%processId%', $processId).replace('%killOption%', $killOption);
            $('#confirmProcessKill #modalBody').html(confirmMessage);
            const confirmHref = 'javascript:killProcess(' + $processId + ', \"' + $killOption + '\");$("#confirmProcessKill").modal("hide");';
            $('#confirmProcessKill #killProcess').attr('href', confirmHref);
            $(_self.attr('href')).modal('show');
        });
    });

    {% endif %}
</script>
{% endblock %}
